@{
    ViewBag.Title = "About";
}
<h2>About Roasts and Rants</h2>

<p>
	This web application was made to help share your experiences with the restaurants that you have visited.
</p>

<br />
<p>Special Thanks and Credits to Shimiharu for helping me with the name.</p>
