@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    17230 Plaza America Drive<br />
    Reston, VA 20190<br />
    <abbr title="Phone">P:</abbr>
    012.345.6789
</address>

<address>
    <strong>For business inquiries:</strong> <a href="mailto:jamesdinht@gmail.com">jamesdinht@gmail.com</a>
</address>