@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Roasts and Rants</h1>
    <p class="lead">Share your roasts and rants about your favorite, or not so favorite, restaurants here!</p>
</div>
